body {
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.text {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;

    margin-left: -9em;

    font-size: 350%;
    font-weight: bold;

    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

.text-style {
    color: orange;
    text-align: center;
    margin: 0.8em 0;
}

.paragraph-style {
    color: orange;
    text-indent: 1.5em;
}

.text:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgb(0, 0, 0, 1) 0%, transparent 100%);
    pointer-events: none;
}

.text-content {
    position: absolute;
    user-select: none;
    cursor: none;
    top: 100%;
    animation: scroll 30s linear 1s infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}